@import 'tailwindcss';

@theme {
  --color-*: initial;

  --color-white: #FFFFFF;

  --color-gray-100: #E4EEDD;
  --color-gray-200: #616161;
  --color-gray-250: #878787;
  --color-gray-300: #4F4F4F;
  --color-gray-400: #3A3A3A;
  --color-gray-500: #292929;

  --color-green-400: #54B689;
  --color-green-600: #43956D;

  --color-bule-400: #8295B4;

  --color-red-500: #fb1808;
}

body {
  font-family: var(--font-nunito), sans-serif;
}

@keyframes spin-back {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.animate-spin-back {
  animation: spin-back 4s ease-in-out infinite;
}
